{% extends 'hello/base.html' %}

{% block content %}
<h3 style="font-family: arial; text-align: center; padding-top: 50px">Login</h3>
<br>

<form method="post" style="margin-left: 110px">
    {% csrf_token %}
<!--    <div class="" style="text-align: center;">{{form.as_p}}</div>-->
    <div style="text-align: center; margin-right: 100px">
    {% for i in form %}
        <div style="display: flex; margin-left: 440px">
            <div style="width: 150px; text-align: start">
                {{ i.label }}:
            </div>
            <div style="">
                <p>{{ i }}</p>
            </div>
        </div>
        <div class="form-error">{{ i.errors }}</div>
    {% endfor %}
    </div>
    <div style="text-align: center; margin-top: 20px; margin-right: 20px">
        <button type="submit" class = "btn btn-warning">
        Authorization
    </button>
    </div>
</form>
{% endblock %}



