{% extends 'hello/base.html' %}

{% block content %}
<h1>{{ title }}</h1>


<h3 style="text-align: center; font-family: arial">Create account</h3>
<br>
<form method="post">
    {% csrf_token %}

    <div style="text-align: center;">
    {% for i in form %}
        <div style="display: flex; margin-left: 550px;">
            <div style="width: 150px; text-align: start">
                {{ i.label }}:
            </div>
            <div style="">
                <p>{{ i }}</p>
            </div>
        </div>
        <div class="form-error">{{ i.errors }}</div>
    {% endfor %}
    </div>
    <div style="text-align: center; margin-top: 20px; margin-right: 20px">
        <button type="submit" class = "btn btn-warning">
        Registration
    </button>
    </div>
</form>


{% endblock %}
